.register-form{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    width: 90%;
}

.grid-column{
    grid-column: span 2;
}

.form-password{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.form-actions{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 5px;
}