.container{
    width: 300px;
    height: 120px;

    box-shadow: 2px 2px 2px 2px var(--sky-400);
    border-radius: 5px;
    padding : 10px 15px;

    display : flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.header span {
    font-size: 14px;
    color: var(--gray-500)
}

.counter{
    width: 100%;
    display: flex;
    align-items: flex-start;
}

.counter p {
    font-size: 30px;
    font-weight: bold;
}