.categories-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
}

.categories-header{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

.categories-header-buttons{
    display: flex;
    align-items: center;
    gap: 10px;
    
}

.categories-counters{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding: 0 20px;
    margin-top: 20px;
    
    width: 100%;
}

.categories-summary{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 0 20px;
    margin-top: 20px;
    
    width: 100%;
}

.categories-list{
    width: 100%;
    padding: 0 5vw;
    gap: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    overflow: auto;
}

