.new-password-form-section{
    display: grid;
    grid-template-columns: 2fr 1fr;
    width: 100%;
    height: 100vh;
}

.new-password-form-image-container{
    display: flex;
    align-items: center;
    justify-content: center;
    background: radial-gradient(var(--sky-400), var(--sky-600));
}

.new-password-form-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 30px;
    gap: 0;
}

.new-password-form-header p {
    color: var(--gray-600);
    font-size: 0.8rem;
}


.new-password-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 10px;
    background-color: var(--gray-100);
    width: 100%;
}

.new-password-form-container h2 {
    color: var(--gray-900);
}

@media (max-width : 900px) {
    .new-password-form-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .new-password-form-image-container {
        display: none;
    }

    .new-password-form-container {
        height: 100%;
    }
    
}