.transaction-item-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    width: 100%;
    height: 80px;
    box-shadow: 2px 2px 2px 2px var(--sky-400);
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: 0.3s ease-in-out;

    &:hover {
        opacity: 0.8;
        transform: scale(1.02);

    }
}



.transaction-item-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.transaction-item-header span {
    font-size: 16px;
    font-weight: bold;
}

.transaction-item-header p {
    font-size: 16px;
}


.transaction-item-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.transaction-item-content span {
    color: var(--gray-400)
}

.transaction-item-content p {
    color: var(--gray-400)
}

@media (max-width : 980px) {
    .transaction-item-container {
        width: 80%;
    }
}