.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    width: 100%;
}

.form-password{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.form-actions{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 5px;
}