.form-section{
    display: grid;
    grid-template-columns: 2fr 1fr;
    width: 100%;
    height: 100vh;
    gap: 10px;
}

.form-image-container{
    display: flex;
    align-items: center;
    justify-content: center;
    background: radial-gradient(var(--sky-400), var(--sky-600));
}


.form-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 10px;
}

@media (max-width : 900px) {
    .form-section{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }

    .form-image-container{
        width: 100%;
        height: 100%;
    }

    .form-image-container img{
        width: 300px;
        height: 300px;
    }

    .form-container{
        width: 80%;
        margin-bottom: 20px;
    }
    
}